{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}
{% include "security/_messages.html" %}
{% block body %}
{{ super() }}
<br><br><br><br><br>
<section class="content">
    <div class="col-sm-8 col-sm-offset-2">
            <div class="login-logo">
                    <img src="/static/img/LOGO.jpg" alt="Logo">
                  </div>
            <div class="well">
                <h1>Đăng nhập</h1>
            <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
                {{ render_field_with_errors(login_user_form.email, label="Tên đăng nhập") }}
                {{ render_field_with_errors(login_user_form.password, label="Mật khẩu") }}
                {{ render_checkbox_field(login_user_form.remember, label="Ghi nhớ") }}
                {{ render_field(login_user_form.next) }}
                {{ render_field(login_user_form.submit, class="btn btn-primary", label="Đăng nhập") }}
            </form>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
{% endblock body %}