{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}
<!-- <link rel="stylesheet" href="/static/css/all.css"> -->
<link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
<section class="content">
        
        <table id="table" 
                     data-toggle="table"
                     data-search="true"
                     data-filter-control="true" 
                     data-show-export="true"
                     data-click-to-select="true">
            <thead>
                <tr>                   
                    <th class="col-md-1">Action</th>
                    <th class="column-header col-id">ID</th>
                    <th class="column-header col-title">Tên cuộc bầu cử</th>
                    <th class="column-header col-time_created">Ngày bầu</th>
                    <th class="column-header col-num_persons">Số lượng người bầu cử</th>
                    <th class="column-header col-min_persions">Số lượng bầu tối thiểu</th>
                    <th class="column-header col-max_persions">Số lượng bầu tối đa</th>
                    <th class="column-header col-image">Phiếu bầu cử</th>
                    <th class="column-header col-file">File excel</th>
                </tr>
            </thead>

            <tbody>
                    {%  for dt in data  %}
                <tr>
                    <td class="list-buttons-column">
                        <a class="icon" data-target="#fa_modal_window" title="View Record"
                            href="/admin/election/details/?id=1&amp;url=%2Fadmin%2Felection%2F&amp;modal=True"
                            data-toggle="modal">
                            <span class="fa fa-eye glyphicon glyphicon-eye-open"></span>
                        </a>
                        <form class="icon" method="GET" action="/admin/election/delete/{%  print(dt['id'])  %}">

                            <button onclick="return confirm('Bạn có chắc chắn muốn xóa cuộc bầu cử này?');"
                                title="Delete record">
                                <span class="fa fa-trash glyphicon glyphicon-trash"></span>
                            </button>
                        </form>

                    </td>

                    <td class="col-id">
                            {%  print(dt['id'])  %}
                    </td>
                    <td class="col-title">
                            {%  print(dt['title'])  %}
                    </td>

                    <td class="col-time_created">
                            {%  print(dt['time_created'].date())  %}
                    </td>

                    <td class="col-num_persons">
                            {%  print(dt['num_persons'])  %}
                    </td>

                    <td class="col-min_persions">
                            {%  print(dt['min_persions'])  %}
                    </td>

                    <td class="col-max_persions">
                            {%  print(dt['max_persions'])  %}
                    </td>

                    <td class="col-image">
                            <a href="{%  print(dt['image'])  %}" target="_blank"> Tải về
                            </a>
                    </td>
                    <td class="col-file">
                            <a href="{%  print(dt['file'].replace("app",""))  %}">Tải về</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
</section>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script>
var $table = $('#table');
		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});
</script>
<!-- /.content -->
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>Admin Manager</h1>
            <!-- <p class="lead">
                Authentication
            </p>
            <p>
                This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
            </p> -->
            {% if not current_user.is_authenticated %}
            <meta http-equiv="Refresh" content="0; url={{ url_for('security.login') }}" />

            <!-- email: <b>admin</b> <br> -->
            <!-- password: <b>admin</b> <br> -->
            <br>
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a>
            </p>
            {% endif %}
            <br>
            <p>
                <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            </p>
        </div>


    </section>
</center>

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
{% endif %}

{% endblock body %}